body {
  height: 100vh;
  background-repeat: no-repeat;
  object-fit: cover;
  background-image: linear-gradient(80deg, lightblue, transparent);
  pointer-events: none;
  background-color: gradient(20, 300);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.3vh;
}

.header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.intro {
  margin-top: 1rem;
  text-align: center;
}

.main > .intro {
  visibility: hidden;
}

.container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.windows {
  display: none;
}

.part-two,
.part-three {
  display: none;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.outer {
  height: 100%;
  position: relative;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

.is-mobile {
  padding: 10rem;
}

.game-play {
  display: none;
  justify-content: flex-start;
  flex-direction: column;
  width: 700px;
  position: relative;
}

.main {
  flex-direction: row;
  height: calc(100vh - 82px);
}

.achieved-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

textarea {
  background: transparent;
  border-radius: 1em;
  padding: 4px;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", */
  /* "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
  /* font-family: sans-serif; */
  font-size: 2vh;
}

.text-game {
  height: 100%;
}

label {
  text-align: center;
  max-width: 400px;
  margin-bottom: 0.5em;
  margin: 2em 0;
}

.label {
  height: 200px;
}

.achieved {
  margin: 0.25em;
  display: none;
  color: red;
  font-family: arial;
  font-weight: 600;
  text-align: center;
}

.relative {
  position: relative;
  height: 100px;
}

button {
  background-color: lightblue;
  margin: 1em;
  padding: 0.5em 3em;
  border-radius: 9px;
  box-shadow: 2px 2px 4px grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2vh;
}

button:focus {
  background: white;
}

.help {
  margin: 1em;
}

#editable {
  padding: 0.4em;
  border: 1px solid blue;
}

.remove {
  color: yellow;
}

.monkey {
  margin: 1rem;
  display: none;
}

.keystrokes {
  visibility: hidden;
}

.monkey-btn {
  display: none;
}

.banana {
  display: none;
  flex-direction: column;
}

.safari {
  display: none;
}

.reset {
  display: none;
}
