:root {
  /* CSS HEX */
  --charcoal: #28536bff;
  --rosy-brown: #c2948aff;
  --air-superiority-blue: #7ea8beff;
  --isabelline: #f6f0edff;
  --khaki: #bbb193ff;

  /* SCSS Gradient */
  --gradient-top: linear-gradient(
    0deg,
    #28536bff,
    #c2948aff,
    #7ea8beff,
    #f6f0edff,
    #bbb193ff
  );
  --gradient-right: linear-gradient(
    90deg,
    #28536bff,
    #c2948aff,
    #7ea8beff,
    #f6f0edff,
    #bbb193ff
  );
  --gradient-bottom: linear-gradient(
    180deg,
    #28536bff,
    #c2948aff,
    #7ea8beff,
    #f6f0edff,
    #bbb193ff
  );
  --gradient-left: linear-gradient(
    270deg,
    #28536bff,
    #c2948aff,
    #7ea8beff,
    #f6f0edff,
    #bbb193ff
  );
  --gradient-top-right: linear-gradient(
    45deg,
    #28536bff,
    #c2948aff,
    #7ea8beff,
    #f6f0edff,
    #bbb193ff
  );
  --gradient-bottom-right: linear-gradient(
    135deg,
    #28536bff,
    #c2948aff,
    #7ea8beff,
    #f6f0edff,
    #bbb193ff
  );
  --gradient-top-left: linear-gradient(
    225deg,
    #28536bff,
    #c2948aff,
    #7ea8beff,
    #f6f0edff,
    #bbb193ff
  );
  --gradient-bottom-left: linear-gradient(
    315deg,
    #28536bff,
    #c2948aff,
    #7ea8beff,
    #f6f0edff,
    #bbb193ff
  );
  --gradient-radial: radial-gradient(
    #28536bff,
    #c2948aff,
    #7ea8beff,
    #f6f0edff,
    #bbb193ff
  );
}

body {
  height: 100vh;
  background-repeat: no-repeat;
  object-fit: cover;
  background-color: var(--air-superiority-blue);
  pointer-events: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.3vh;
  line-height: 1.4;
}

html {
  height: 100%;
}

.header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  grid-column: col-start / span 12;
  grid-row: 0 / 2;
}

.pre-game {
  align-items: flex-start;
  height: 100%;
}

.pre-game div {
  align-items: center;
  flex-direction: column;
}

.intro {
  height: 100%;
  margin-top: 1rem;
  text-align: center;
  display: flex;
}

.main > .intro {
  visibility: hidden;
}

.container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.windows {
  display: none;
}

.part-two,
.part-three {
  display: none;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.outer {
  height: 100%;
  position: relative;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

.is-mobile {
  text-align: center;
  padding: 10rem;
}

.game-play {
  display: none;
  justify-content: flex-start;
  flex-direction: column;
  width: 700px;
  position: relative;
}

.main {
  flex-direction: row;
  height: calc(100vh - 82px);
}

.achieved-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

textarea {
  /* background: white; */
  border-radius: 6px;
  padding: 4px;
  font-size: 2vh;
}

textarea:focus {
  outline: none;
  border: 1px solid lightblue;
}

.text-game {
  height: 100%;
}

label {
  text-align: center;
  margin: 2em 0;
}

label > h3 {
  font-weight: 500;
}

.label {
  height: 200px;
  max-width: 500px;
}

.achieved {
  margin: 0.25em;
  display: none;
  background: lightblue;
  border-radius: 4px;
  padding: 2px 6px;
  color: green;
  font-family: arial;
  font-weight: 600;
  text-align: center;
}

.relative {
  position: relative;
  height: 100px;
}

button {
  border: 0;
  height: 32px;
  position: relative;
  display: block;
  width: 100px;
  height: 32px;
  background: transparent;
  border: 1px solid rgb(198, 198, 198);
  box-sizing: border-box;
  margin: 1em;
  padding: 0.5em 3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2vh;
}

button:focus {
  transition: 1s ease-in-out;
  background: var(--charcoal);
  color: white;
  outline: none;
}

button:focus svg {
  stroke-dashoffset: -256;
}

button span {
  width: 100px;
  position: absolute;
  left: 0;
  top: 6px;
  height: 32px;
}

svg {
  display: block;
  position: absolute;
  left: -1px;
  top: -1px;
  fill: none;
  width: 100px;
  height: 32px;
  stroke: white;
  stroke-dasharray: 80 256;
  stroke-dashoffset: 80;
  transition: 1s ease-in-out;
}

.help {
  margin: 1em;
}

#editable {
  padding: 0.4em;
  border: 1px solid blue;
}

.remove {
  color: yellow;
}

.monkey {
  margin: 1rem;
  display: none;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.keystrokes {
  visibility: hidden;
}

.monkey-btn {
  display: none;
}

.banana {
  display: none;
  flex-direction: column;
}

.safari {
  display: none;
}

.reset {
  display: none;
}

.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 20px;
}

.content {
  grid-column: col-start 3 / span 8;
  grid-row: 2 / 12;
  height: 100%;
}
.drawer {
  grid-column: col-start / span 2;
  grid-row: 2 / 12;
}
.drawer .container {
  flex-direction: column;
  align-items: flex-start;
}

.drawer-container {
  padding: 0.5rem;
  transition: 0.6s ease-in-out;
  background-color: lightblue;
}
