.modal {
  position: fixed;
  inset: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
