.intro {
  height: 100%;
  margin-top: 1rem;
  text-align: center;
  display: flex;
}

.intro,
.part-two,
.part-three {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  background: rgba(255, 255, 255, 0.07);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  margin: 20px auto;
  max-width: 800px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
}

.is-mobile {
  text-align: center;
  padding: 2rem;
  max-width: 40rem;
}
