body {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  letter-spacing: 1.5px;
}

#keyboard {
  opacity: 1;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:
    Noto Sans Display,
    sans-serif;
}

.keyboard-row {
  display: flex;
  gap: calc(var(--u) * 0.12);
}

.keyboard-row-top {
  align-self: end;
}

:root {
  --u: clamp(12px, 3vw, 20px);
  --h: var(--u);
  --gap: calc(var(--u) * 0.12);
}

.keyboard {
  display: grid;
  grid-template-rows: repeat(6, var(--h));
  gap: var(--gap);
  width: max-content;
}

.key {
  height: var(--h);
  display: flex;
  justify-content: center;
}

:root {
  --u: clamp(48px, 6vw, 6vw);
  --key-h: calc(var(--u));
  --gap: calc(var(--u) * 0.12);
}

@keyframes flash {
  from {
    background: lightgreen;
  }
  to {
    background: black;
  }
}

@keyframes pulse {
  0% {
    box-shadow:
      0 0 0 0px rgba(255, 255, 255, 0.8),
      0 0 0 calc(var(--u) * 0.08) rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow:
      0 0 0 calc(var(--u) * 0.08) rgba(255, 255, 255, 0.6),
      0 0 0 0px rgba(255, 255, 255, 0.9);
  }
}

.key {
  background: black;
  height: var(--u);
  max-height: 100%;
  width: var(--u); /* standard letter key */
  border-radius: 8px;
  padding: calc(var(--u) * 0.1);
  box-sizing: border-box;
  color: white;
  align-items: end;
  font-weight: 300;
  box-shadow: 2px 1px 2px black;
  svg {
    position: relative;
  }
}

.key[data-type="char"] {
  font-size: calc(var(--u) * 0.3);
  align-items: center;
}

.key[data-type="word"] {
  font-size: calc(var(--u) * 0.2);
  text-transform: lowercase;
}

.new-key {
  background: rgb(219, 224, 0);
  animation: pulse 1s ease-in-out infinite;
  background: linear-gradient(
    120deg,
    rgb(219, 224, 0),
    rgba(255, 255, 255, 0.7),
    rgb(219, 224, 0)
  );
  color: black;
}

/* arrow key height */
.h-05 {
  height: calc(var(--u) * 0.5);
}
.h-05-min {
  min-height: calc(var(--u) * 0.5);
}
/* arrow key height */
.h-10 {
  height: calc(var(--u) * 0.1);
}
/* power bar row height */
.h-068 {
  height: calc(var(--u) * 0.68);
}
/* power key width */
.w-068 {
  width: calc(var(--u) * 0.68);
}
/* fn/control/option width */
.w-129 {
  width: calc(var(--u) * 1.29);
}
/* delete/tab width */
.w-156 {
  width: calc(var(--u) * 1.56);
}
/* caps/return width */
.w-185 {
  width: calc(var(--u) * 1.85);
}
/* shift width */
.w-242 {
  width: calc(var(--u) * 2.42);
}
/* spacebar width */
.w-551 {
  width: calc(var(--u) * 5.51);
}
/* magic bar width */
.w-1418 {
  width: calc(var(--u) * 14.18);
}

.key-pressed {
  box-shadow: 0 0 0 black;
}

.key-group {
  background: transparent;
  flex-direction: column;
}

.key-group > .key {
  transform: translateX(9px);
}

.key-up {
  border-radius: 6px 6px 0 0;
}

.key-down {
  border-radius: 0 0 6px 6px;
}

.key-bottom {
  align-self: end;
}

.key-left {
  justify-content: start;
}

.key-right {
  justify-content: end;
}

.arrow-left {
  transform: rotate(90deg);
}

.arrow-up {
  transform: rotate(180deg);
}

.arrow-right {
  transform: rotate(-90deg);
}
