/* Credit to https://cssloaders.github.io/ */

.spinner {
  width: 32px;
  height: 32px;
  position: relative;
  border-radius: 6px;
  background: #fff;
  animation: wave 1s ease-in infinite;
  animation-direction: reverse;
}

@keyframes wave {
  0% {
    box-shadow:
      0 0 0 0px rgba(255, 255, 255, 0.8),
      0 0 0 10px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow:
      0 0 0 10px rgba(255, 255, 255, 0.6),
      0 0 0 0px rgba(255, 255, 255, 0.9);
  }
}
