#root {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: "Noto Sans Display", sans-serif;
  color: var(--color-light);
}

:root {
  --bg: #009fcc;
  --color: #36454f;
  --bg-secondary: #f4f0ec;
  --accent: #d97f18;
  --color-light: #f4f0ec;
  --bg-dark: #161618;
  --bg-dark-gradient: radial-gradient(ellipse at left, #35353d 0%, #09090b 80%);
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  background: var(--bg-dark-gradient);
  pointer-events: none;
  font-size: 1rem;
  line-height: 1.4;
  font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 400;
}

body:focus {
  background-color: var(--bg-dark);
}

.body-mobile {
  pointer-events: auto !important; /* allow navigation on mobile devices */
}

nav {
  display: flex;
  gap: 12;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: var(--color-light);
}

a:focus-visible {
  outline: 3px solid var(--bg-secondary);
  outline-offset: 2px;
}

a:has(.game-link-button) {
  outline: none;
}

.game {
  animation: fadeInOpacity 0.3s ease-in;
}

.container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.part-two,
.part-three {
  display: none;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 180px;
}

.game-play {
  min-height: 65vh;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.achieved-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

label > h3 {
  font-weight: 500;
  margin: 0;
}

label > h4 {
  padding: 1rem;
}

.label {
  max-width: 800px;
}

.achieved {
  margin: 0.25em;
  /* background: var(--background-contrast); */
  border-radius: 4px;
  padding: 2px 6px;
  color: var(--color-light);
  font-weight: 600;
  text-align: center;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.safari {
  max-width: 500px;
  border-bottom: #28536b55 2px solid;
  padding-bottom: 1rem;
}
